if theme.local_mathjax == true
  script(type='text/javascript', src='/js/mathjax.js?config=TeX-MML-AM_CHTML', async)
else
  script(type='text/javascript', src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML', async)
